.aimessage-container {
    position: relative;
    font-family: "Pretendard Variable";
    width: 390px;
    height: 844px;
    overflow: hidden; 
    padding: 20px;
    padding-top: 100px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image:url('../../components/Images/Ai-Background.png');
}

.aimessage-title {
    font-size: 20px;
    text-align: center;
    color: #453F36;
    margin-bottom: -10px;
    font-family: "Pretendard Variable";
}

.aimessage-subtitle {
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    font-family: "Pretendard Variable";
    margin-bottom: 50px;
}


.aimessage-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 356px;
    background-color: #FEF7ED;
    border-radius: 15px;
    padding: 15px;
    box-shadow:  0px 29px 12px rgba(0, 0, 0, 0.01), 0px 16px 10px rgba(0, 0, 0, 0.05), 0px 7px 7px rgba(0, 0, 0, 0.09), 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
    justify-content: center; /* 수직 중앙 정렬 */
    text-align: center; /* 텍스트 가운데 정렬 */
    font-family: "Pretendard Variable";
}

.image-container-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.image-container {
    margin-top: 30px;
    width: 236px;
    height: 127px; 
    background-color: #ffffff; 
    border-radius: 10px;
    overflow: hidden; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.image-container img {
    width: 236px;
    height: 127px;
    object-fit: cover; 
}

.aimessage-content p {
    font-size: 12px; 
    font-weight: 400; 
    color: #5C564C; 
    line-height: 1.5; 
    text-align: center; 
    margin: 0; 
    font-family: "Pretendard Variable";
}
.popup-overlay {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .popup-content {
    margin-bottom: 150px;
    background-color: #fce8dc;
    border-radius: 10px;
    text-align: center;
    width: 236px;
    font-family: "Pretendard Variable";
    height:132.83px;
    font-size:12px;
  }

  .popup-content p {
    margin-top: 40px; 
    margin-bottom: -10px; 
    text-align: center; 
    font-size: 12px; 
    font-family: "Pretendard Variable";
    font-weight: 600;
    color: #5C564C; 
  }

  .popup-buttons {
    display: flex;
    background-color: #ede2d4;
    justify-content: space-around;
    margin-top: 40px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; 
    align-items: center; 
  }
  
  .popup-buttons button {
    background: none;
    border: none;
    font-size: 12px;
    font-weight: 600;
    color: #5C564C;
    padding: 8px 45px;
    cursor: pointer;
  }
  
  .popup-buttons button:hover {
    color: #000000;
  }
  
  .horizontal-divider {
    width: 99%;
    height: 1px;
    background-color: #b4b4b4;
    position: relative;
    top: 40px;
  }

  .divider {
    width: 1px;
    background: #b5b5b5;
    height: 50px; 
  }