.c-modal-prof-wp {
  box-sizing: border-box;
  position: absolute;
  padding: 30px;
  top: 50%;
  left: 52.5%;
  transform: translate(-50%, -50%);
  width: 349px;
  height: 598px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #fffcf8;
  box-shadow: 0px 45px 13px 0px rgba(0, 0, 0, 0),
    0px 29px 12px 0px rgba(0, 0, 0, 0.01), 0px 16px 10px 0px rgba(0, 0, 0, 0.05),
    0px 7px 7px 0px rgba(0, 0, 0, 0.09), 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.c-modal-profImg-wp {
  position: absolute;
  top: 12%;
  left: 19%;
}
.c-modal-profImg {
  width: 82px;
  height: 82px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.c-modal-innerCircle {
  width: 13px;
  height: 13px;
  border: 3px solid transparent;
  border-radius: 50%;
  background-image: linear-gradient(#fff, #fff);
  background-origin: border-box;
  background-clip: content-box, border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.c-modal-profDate {
  color: #938a7e;
  font-family: "Pretendard Variable";
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 180%;
  letter-spacing: -0.36px;
}

.c-modal-profTitle {
  width: 181px;
  height: 29px;
  flex-shrink: 0;
  color: #453f36;
  font-family: "Pretendard Variable";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 180%;
  letter-spacing: -0.45px;
}
.c-modal-content {
  width: 286px;
  height: 234px;
  flex-shrink: 0;
  color: #5c564c;
  font-family: "Pretendard Variable";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  letter-spacing: -0.36px;
  text-align: justify;
  margin-top: 40px;
}
.c-modal-date-wp {
  margin-left: 90px;
  margin-top: 15px;
}

.c-modal-score-wp {
  position: absolute;
  color: #adadad;
  font-family: "Pretendard Variable";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 180%;
  top: 53%;
}
.c-modal-score {
  position: relative;
  top: 50px;
  color: #5c564c;
  font-family: "Pretendard Variable";
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 180%;
}

.c-modal-rangescroller {
  position: absolute;
  transform: translateX(-20px) translateY(-10px);
}

.c-modal-score-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

.c-modal-score-range {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  margin-left: 15px;
  margin-top: 15px;
  width: 296px;
  height: 20px;
  border-radius: 15px;
  background: linear-gradient(
    to right,
    #938a7e 0%,
    #938a7e var(--value, 50%),
    #d2c5b2 var(--value, 50%),
    #d2c5b2 100%
  );
  cursor: pointer;
}
.c-modal-evaluate {
  padding: 15px;
  box-sizing: border-box;
  position: absolute;
  top: 75%;
  transform: translateX(-10px);
  width: 308px;
  height: 121px;
  border-radius: 15px;
  background: #f0ebe5;
  color: #82796c;
  font-family: "Pretendard Variable";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 180%;
  text-align: justify;
}
.c-modal-close {
  position: absolute;
  right: 15px;
  top: 20px;
  cursor: pointer;
}
